.post_wizard {

}

.post_wizard .form {
    width: 60%;
    margin: 0 auto;

    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
}

.post_wizard .submit_btn {
    float: right;
}